/*

https://codepen.io/supember/pen/BKmgNZ
https://codepen.io/era_eric_og/pen/apbVpN?editors=1100
https://github.com/liyuanzi/bootstrap-theme-Win95/blob/master/bootstrap-theme-win95.css
https://liyuanzi.github.io/bootstrap-theme-Win95/demo.html#

*/

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  height: 100%;
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}


html,
body {
  height: 100%
}

body {
  background-image: linear-gradient(135deg, #87fffd 0%,#e93cec 100%); 
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.root-container {
  font-family: "MS Sans Serif";
  font-size: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-container {
  background: #87fffd; 
  background: -moz-linear-gradient(-45deg, #87fffd 0%,#e93cec 100%); 
  background: -webkit-linear-gradient(-45deg, #87fffd 0%,#e93cec 100%); 
  background: linear-gradient(135deg, #87fffd 0%,#e93cec 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff147d', endColorstr='#9aff42',GradientType=1 );
}

.windows-mainbox {
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  padding:1px;
}

.windows-bar {
  height:30px;
  width:100%;
  background:#000080;
  color:#FFF;
}

.windows-bar-image {
  float:left;
}

.windows-bar-text {
  margin:2px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:16px;
}

.windows-bar-button {
  margin:2px 2px 2px 0;
  float:right;
  width:26px;
  height:25.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}

.mainbox {
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #c0c0c0;
  border-top: 2px solid rgb(211,211,211);
  border-left: 2px solid rgb(211,211,211);
  border-right: 2px solid rgb(128,128,128);
  border-bottom: 2px solid rgb(128,128,128);
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  border-radius: 0;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-header {
  color: white;
  font-size: 16px;
  background-image: linear-gradient(to right,#712da8 50%,#999 100%);
  padding: 10px;
}

.card-header-small {
  color: white;
  font-size: 14px;
  background-image: linear-gradient(to right,#49bb95 50%,#999 100%);
  padding: 5px;
}

.card-body {
  padding: 5px;
  font-size: 14px;
}

.card-footer {
  background: #b6b6b6; 
}

img.title{
  float:left;
}
p.title{
  margin:2px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:11px;
}
.bar button{
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}

.windows-body {
  margin: 1px;
  padding: 10px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.main-body {
  background-color: #fffaf0;
}

.header-body {
  flex-grow: 1;
  margin: auto;
  width: auto;
  padding-left: 2px;
  padding-right: 0px;
  color: #000000;
  border-top: 1px solid #929292;
  border-left: 1px solid #929292;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.form-control{
  box-shadow: -1px -1px 0 1px #000, 1px 1px 0 1px #fff; 
  border-top: 2px solid rgb(128,128,128);
  border-left: 2px solid rgb(128,128,128);
  border-right: 2px solid rgb(211,211,211);
  border-bottom: 2px solid rgb(211,211,211);
  border-radius: 0 !important;
}



.windows-button {
  font-family:"MS Sans Serif";
  font-size:18px;
  outline:1px solid #000000;
  background:#C0C0C0;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:4px 10px;
  margin: auto;
  display:block;
  position:relative;
  bottom:0px;
}

.smaller-button {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

bottom-margin {
  margin-bottom: 10px;
}

.header-button {
  background: #81ff7a;
}

.logout-button {
  background: #f6ff7a;
}

.title-button {
  background: #ff99cf;
  background-image: linear-gradient(to right,#ff99cf 50%,#f6ff7a 100%);
  font-size:26px;
}

.reading-text {
  background-color: #00007F;
  border-top: 2px solid rgb(128,128,128);
  border-left: 2px solid rgb(128,128,128);
  border-right: 2px solid rgb(211,211,211);
  border-bottom: 2px solid rgb(211,211,211);
  border-radius: 0;
  color: white;
  font-family: monospace;
  font-size: 14px;
  width: 45%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-text {
  font-size: 11px;
}

.less-padding {
  padding: 0px;
}

hr {
  height: 15px;
  border:0;
  box-shadow: 0 20px 20px -23px #cfcfcf inset;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(63,223,251,1) 0%, rgba(161,171,9,1) 31%, rgba(137,12,137,1) 67%, rgba(5,89,226,1) 82%, rgba(122,18,39,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 14px;
}

.reading-smaller {
  font-size: 11px;
}

.message {
  font-size: 14px;
  color: green;
}

.top-margin {
  margin-top: 10px;
}